{% extends 'base.html' %}

{% block content %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="https://api-maps.yandex.ru/2.1/?apikey=216f2281-a0bc-4411-ac29-2723d14122fa&lang=ru_RU" type="text/javascript">
    </script>
    <style>
        .container {
        background-color:rgba(218, 213, 189, 0.541);
        display: flex;
        flex-flow: column wrap;
        border-radius: 30px;
        align-items: center;
    }
    input {
        width: 100%;
        border-radius: 7px;
        border-left-color :black;
        border-right-color :black;
        border-bottom-color :black;
        border-top-color :black;
        background-color: rgba(255, 255, 255, 0.589) !important;
    }   
    </style>
</head>

<div class="container" >
    <br>
    <h1>Добавить заявка</h1>
    <div id="map" style="width: 1000px; height: 400px; padding: 20px"></div>
    <br>
    <b for="note">Примечания</b>
    <input type="text" class="note" style="width: 40%;">
    <br>
    <button style="margin:10px auto auto auto; width: 40%;" class="btn btn-danger submit">Подать заявку</button>
    <br>
</div>
<script type="text/javascript">
    ymaps.ready(init);
    let flash_div = document.getElementsByClassName("flash-div")[0]
    let flash_message = document.getElementsByClassName("flash-message")[0]
    async function post_to_api(){
        note = document.getElementsByClassName("note")[0];
        var note = note.value;
        const url = `http://127.0.0.1:5050/api/add_task?coord=${encodeURIComponent(window.coord)}&note=${encodeURIComponent(note)}`;
        try {
                const res = await fetch(url, { method: 'POST'});
                if (!res.ok) {
                    throw new Error('Ошибка сети: ' + res.status);
                }
                const data = await res.json();
                if (data["Status"] === "ok"){
                    flash_div.className = "flash-div alert alert-success alert-dismissible";
                    flash_div.style.display = "block";
                    flash_message.textContent = "Заказ добавлен! Сейчас вы будете перенаправлены на страницу профиля";
                    await new Promise(r => setTimeout(r, 2000));
                    window.location.replace("http://127.0.0.1:5050/profile");
                } else {
                    flash_div.className = "flash-div alert alert-danger alert-dismissible";
                    flash_div.style.display = "block";
                    flash_message.textContent = "Что-то пошло не так. Попробуйте позже";
                }
                }
        catch (error) {
            console.error('Ошибка:', error);
        }};
    function init(){
        var point = new ymaps.Placemark([55.755864, 37.617698],{}, {draggable:true});
        var map = new ymaps.Map("map", {
            center: [55.76, 37.64],
            zoom: 7
        });
        map.geoObjects.add(point)
        window.coord = point.geometry.getCoordinates();
        point.events.add("drag", function (e) {
            window.coord = e.get('target').geometry.getCoordinates();
        })
    }
    submit = document.getElementsByClassName("submit")[0]


    submit.addEventListener("click", post_to_api)
</script>
{% endblock %}