{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<meta charset="UTF-8">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/reg.css')}}"></head>
    <div class="container">
    <br>
    <h1>Регистрация пользователя</h1>
    <div id="myForm">
        <b for="username">Логин</b>
        <input type="text" id="username" name="username" required>
        <br>
        <b for="password">Пароль</b>
        <input type="password" id="password" name="password"required>
        <br>
        <b for="password_conf">Подтвердите пароль</b>
        <input type="password" id="password_conf" name="password_conf"required>
        <br>
        <b for="city">Город</b>
        <input type="text" style="width: 100%;" id="city" name="city"required>
        <button type="button" class="button_city fbutton">г Москва</button>
        <button type="button" class="button_city sbutton">г Санкт-Петербург</button>
        <button type="button" class="button_city tbutton">г Новосибирск</button>
        <br>
        <button style="margin:10px auto auto auto; width: 100%;" class="btn btn-danger submit">Зарегистрироваться</button>
        <br>
    </div>
    <script>
let cityInput = document.getElementById('city'); 
let usernameInput = document.getElementById("username")
let passwordInput = document.getElementById("password")
let passwordconfInput = document.getElementById("password_conf")
let flash_div = document.getElementsByClassName("flash-div")[0]
let flash_message = document.getElementsByClassName("flash-message")[0]
const buttons = document.getElementsByClassName("button_city")
async function response() {
    const cityValue = cityInput.value; 
    const url = `http://127.0.0.1:5050/api/city?city=${encodeURIComponent(cityValue)}`;
    try {
        const res = await fetch(url, { method: 'GET'});

        if (!res.ok) {
            throw new Error('Ошибка сети: ' + res.status);
        }
        const data = await res.json();
        var n = 0;
        const arr = data['city'] 
        for (let button_1 of buttons){
            button_1.style.margin = "-2px 0px 0px 0px";
            button_1.style.display = "none";
            button_1.style.width = "100%";
            button_1.style.height = "30px"
            button_1.style.borderRadius = "0px";
        }
        
        if (arr.length===0){
            cityInput.style.borderRadius = "7px"
        } else {
            cityInput.style.borderRadius = "7px 7px 0px 0px"
        }
        arr.forEach(element => {
            if (n == 0){
                var button = document.getElementsByClassName("fbutton")[0];
            } else if ( n == 1){
                var button = document.getElementsByClassName("sbutton")[0];
            } else {
                var button = document.getElementsByClassName("tbutton")[0];
            }
            n++;
            if (n === arr.length){
                button.style.borderRadius = "0px 0px 7px 7px";
            }
            button.style.display = 'block';
            button.textContent = element;
            button.addEventListener("click", (e) =>{
                cityInput.value = element;
                button_submit = document.getElementsByClassName("submit")[0];
                button_submit.style.width = "100%";
                button_submit.style.margin = `66px auto auto auto`;
                for (var i = 0; i < 3; i++){
                    if (i === 0){
                        buttons[i].textContent = element;
                        buttons[i].style.margin = "-2px 0px 0px 0px";
                        buttons[i].style.width = "100%";
                        buttons[i].style.borderRadius = "0px 0px 7px 7px";
                    }
                    else {
                        buttons[i].style.display = "none";
                        
                    }
                }
            })
        });
        button_submit = document.getElementsByClassName("submit")[0];
        if (arr.length == 0){
            button_submit.style.margin = `95px auto auto auto`;
        } else if (arr.length == 1){
            button_submit.style.margin = `66px auto auto auto`;
        } else if(arr.length == 2){
            button_submit.style.margin = `38px auto auto auto`;
        } else if (arr.length == 3){
            button_submit.style.margin = `10px auto auto auto`;
        } 
        button_submit.style.width = "100%";

    } catch (error) {
        console.error('Ошибка:', error);
    }
    
}

async function reg_volunteer() {
    const cityValue = cityInput.value;
    const username = usernameInput.value;
    const password = passwordInput.value;
    const password_conf = passwordconfInput.value;
    if (password != password_conf){
        flash_div.className = "flash-div alert alert-danger alert-dismissible";
        flash_div.style.display = "block";
        flash_message.textContent = "Пароли не совпадают";
        return;
    } else if (password.length < 8){
        flash_div.className = "flash-div alert alert-danger alert-dismissible";
        flash_div.style.display = "block";
        flash_message.textContent = "Пароль меньше 8 символов";
        return;
    }
    const url = `http://127.0.0.1:5050/api/reg?username=${encodeURIComponent(username)}&password=${encodeURIComponent(password)}&city=${encodeURIComponent(cityValue)}`;
    try {
        const res = await fetch(url, { method: 'POST'});

        if (!res.ok) {
            throw new Error('Ошибка сети: ' + res.status);
        }
        const data = await res.json();
        if (data["Status"] == "ok"){
            flash_div.className = "flash-div alert alert-success alert-dismissible";
            flash_div.style.display = "block";
            flash_message.textContent = "Пользователь зарегистрирован! Сейчас вы будете перенаправлены на главную страницу сайта";
            await new Promise(r => setTimeout(r, 2000));
            window.location.replace("http://127.0.0.1:5050/");
        } else {
            if (data['Error'] == "username is exits"){
                flash_div.className = "flash-div alert alert-danger alert-dismissible";
                flash_div.style.display = "block";
                flash_message.textContent = "Пользователь с таким логином уже зарегистрирован!";
            } else if (data['Error'] == "name of city bad"){
                flash_div.className = "flash-div alert alert-danger alert-dismissible";
                flash_div.style.display = "block";
                flash_message.textContent = "Выбрано некорректное название города";
            } else if (data["Error"] == "Something went wrong"){
                flash_div.className = "flash-div alert alert-danger alert-dismissible";
                flash_div.style.display = "block";
                flash_message.textContent = "Что-то пошло не так. Попробуйте позже";
            }
        }
    } catch (error) {
        console.error('Ошибка:', error);
    }
}
response()
cityInput.addEventListener('input', response);
cityInput.addEventListener('delete', response);
button_submit = document.getElementsByClassName("submit")[0];
button_submit.addEventListener("click", reg_volunteer)


    </script>
</div>
<br>

{% endblock %}